<div class="container">
    <div class="col-md-6 well well-lg">
            <h2>Details</h2>
            <div *ngIf='selectedPerson' >
                <p>{{selectedPerson.PersonName}}</p>
                <p>{{selectedPerson.PersonDetails}}</p>
            </div>
    </div>
    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of ipersons; let i = index" (click)="setClickedRow(i, person)" [class.active]="i == selectedRow">
                    <td>{{person.PersonID}}</td>
                    <td>{{person.PersonName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>