<!DOCTYPE html>
<html>
   <head>
      <meta charset = "UTF-8">
      <meta http-equiv = "X-UA-Compatible" content = "IE = edge,chrome = 1">
      <title>Using Backbone.js</title>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

      <link rel="stylesheet" href="styles.css">
      
   </head>
   
   <body>
      <div class="container">
         <h2>Persons</h2>
         <div class="row">
            <div class="col-md-6">
               <h3>Details</h3>
               <div id="details"></div>
            </div>
            <div class="col-md-6">
               <table id="data-rows" class="table table-hover table-bordered">
                  <thead>
                     <th>ID</th>
                     <th>Name</th>
                  </thead>
                  <tbody>
                     
                  </tbody>
               </table>
            </div>
         </div>
      </div>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
         
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
         
      <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
      
      <script src="app.js"></script>
      
      <script type="text/template" id="row-template">
         <tr row_id = "<%- row_id %>">
            <td><%- person.id %></td>
            <td><%- person.name %></td>
         </tr>
      </script>

      <script type="text/template" id="details-template">
         <p><%- PersonName %></p>
         <p><%- PersonDetails %></p>
      </script>

   </body>
</html>